<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsCheck" version="1.0.4" targetFramework="net45" userInstalled="true" />
  <package id="FSharp.Charting" version="0.90.7" targetFramework="net45" userInstalled="true" />
  <package id="FSharp.Compiler.Service" version="0.0.87" targetFramework="net45" userInstalled="true" />
  <package id="FSharp.Data" version="2.2.3" targetFramework="net45" userInstalled="true" />
  <package id="FSharp.Formatting" version="2.9.2" targetFramework="net45" userInstalled="true" />
  <package id="FSharpVSPowerTools.Core" version="1.8.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="4.5.6" targetFramework="net45" userInstalled="true" />
  <package id="R.NET.Community" version="1.5.15" targetFramework="net45" userInstalled="true" />
  <package id="R.NET.Community.FSharp" version="0.1.8" targetFramework="net45" userInstalled="true" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" userInstalled="true" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" userInstalled="true" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" userInstalled="true" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" userInstalled="true" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" userInstalled="true" />
</packages>